*body{
  box-sizing: border-box
}
.Selected{
  background: #1AAE9E;
  border: 1px solid #0E7D71;
}

.Available{
  background: #C3CFD9;
  border: 1px solid #808F9D;
}

.Unavailable{
  background:#FBE192;
  border: 1px solid #F7C52B;
}